<h1 class="header">Booking List</h1>
<div class="inner">
    <form class="form">
        <div class="form-field">
            <input type="text" placeholder="Location" [(ngModel)]="currentLocation"
                [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="form-field">
            <a class="btn" (click)="search()">Search</a>
        </div>

    </form>
    <table class="table-width">
        <tr>
            <th>S.No</th>
            <th>Pickup Time</th>
            <th>Origin From</th>
            <th>Destination To</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let booking of userBookingListSearched;let i=index;">
            <td>{{i+1}}</td>
            <td>{{booking.pickupTime}}</td>
            <td>{{booking.originFrom}}</td>
            <td>{{booking.destinationTo}}</td>
            <td><button (click)="SelectRide(booking.id)">Select</button></td>
        </tr>
    </table>
    <div class="div2">
        <div *ngIf="rideInfo.originFrom"> 
        <p><b>Origin From :</b>&nbsp;&nbsp;&nbsp;{{rideInfo.originFrom}}</p>
        <p><b>Destinaion To :</b>&nbsp;&nbsp;&nbsp;{{rideInfo.destinationTo}}</p>
        <p><b>PickupTime :</b>&nbsp;&nbsp;&nbsp;{{rideInfo.pickupTime}}</p>
    </div>
        <form [formGroup]="confirmationForm" class="form1">
            <div class="form-field">
                <input type="text" placeholder="Price" formControlName="price" required />
            </div>
            <small *ngFor="let validation of validation_messages.price">
                <span class="text-danger"
                    *ngIf="confirmationForm.get('price').hasError(validation.type) && confirmationForm.get('price').pending">
                    {{ validation.message }}
                </span>
            </small>
            <div class="form-field">
                <input type="text" placeholder="Pickup Time" formControlName="pickupTime" required />
            </div>
            <small *ngFor="let validation of validation_messages.pickupTime">
                <span class="text-danger"
                    *ngIf="confirmationForm.get('pickupTime').hasError(validation.type) && confirmationForm.get('pickupTime').pending">
                    {{ validation.message }}
                </span>
            </small>
            <div class="form-field">
                <a class="btn" (click)="confirm()">Confirm</a>
            </div>
        </form>
    </div>
</div>