<h1 class="header">Login</h1>
<form [formGroup]="loginForm">
    <div class="form-field">
        <input type="text" placeholder="Username" formControlName="userName" required />
    </div>
    <small *ngFor="let validation of validation_messages.userName">
        <span class="text-danger"
            *ngIf="loginForm.get('userName').hasError(validation.type) && loginForm.get('userName').pending">
            {{ validation.message }}
        </span>
    </small>

    <div class="form-field">
        <input type="password" placeholder="Password" formControlName="password" required />
    </div>
    <small *ngFor="let validation of validation_messages.password">
        <span class="text-danger"
            *ngIf="loginForm.get('password').hasError(validation.type) && loginForm.get('password').pending">
            {{ validation.message }}
        </span>
    </small>

    <div class="form-field">
        <a class="btn" (click)="login()">Log in</a>
    </div>
    <div>
        <p>Don't have an account?</p>
        <p><a class="text-aqua" [routerLink]="['/register']"
                [queryParams]="{role: 'user'}">User</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a class="text-aqua"
                [routerLink]="['/register']" [queryParams]="{role: 'driver'}">Driver</a></p>
    </div>
</form>