@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$green: #47AB11;
$black: #4A4A4A;

.header{
  color: black;
  position: relative;
}
body {
  font-family: 'Lato', sans-serif;
  color: $black;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  overflow:hidden;
  margin:0;
  padding:0;
}


form {
    width:350px;
    position:relative;
    
      .form-field::before {
      font-size: 20px;
      position: absolute;
      left: 15px;
      top: 17px;
      color: #888888;
      content: " ";
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .form-field {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 1rem;
      position:relative;
    }
    
    input {
      font-family:inherit;
      width:100%;
      outline:none;
      background-color:#fff;
      border-radius:4px;
      border:none;
      display:block;
      padding: 0.9rem 0.7rem;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
      font-size:17px;
      color: $black;
      text-indent:40px;
    }
    
    .btn {
      outline:none;
      border:none;
      cursor:pointer;
      display:inline-block;
      margin:0 auto;
      padding: 0.9rem 2.5rem;
      text-align:center;
      background-color: $green;
      color:#fff;
      border-radius:4px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
      font-size:17px;
    }
  }