<h1 class="header">Register Form</h1>
<form [formGroup]="registerForm">
    <div class="form-field">
        <input type="text" placeholder="Name" formControlName="name" required />
    </div>
    <small *ngFor="let validation of validation_messages.name">
        <span class="text-danger"
            *ngIf="registerForm.get('name').hasError(validation.type) && registerForm.get('name').pending">
            {{ validation.message }}
        </span>
    </small>

    <div class="form-field">
        <input type="number" placeholder="Phone" formControlName="phone" required />
    </div>
    <small *ngFor="let validation of validation_messages.phone">
        <span class="text-danger"
            *ngIf="registerForm.get('phone').hasError(validation.type) && registerForm.get('phone').pending">
            {{ validation.message }}
        </span>
    </small>

    <div class="form-field">
        <input type="text" placeholder="Email" formControlName="email" required />
    </div>
    <small *ngFor="let validation of validation_messages.email">
        <span class="text-danger"
            *ngIf="registerForm.get('email').hasError(validation.type) && registerForm.get('email').pending">
            {{ validation.message }}
        </span>
    </small>
    <hr>

    <div class="form-field">
        <input type="text" placeholder="Username" formControlName="userName" required />
    </div>
    <small *ngFor="let validation of validation_messages.userName">
        <span class="text-danger"
            *ngIf="registerForm.get('userName').hasError(validation.type) && registerForm.get('userName').pending">
            {{ validation.message }}
        </span>
    </small>

    <div class="form-field">
        <input type="password" placeholder="Password" formControlName="password" required />
    </div>
    <small *ngFor="let validation of validation_messages.password">
        <span class="text-danger"
            *ngIf="registerForm.get('password').hasError(validation.type) && registerForm.get('password').pending">
            {{ validation.message }}
        </span>
    </small>

    <div class="form-field">
        <a class="btn" (click)="register()">Register Now</a>
    </div>
    <div>
        <p>Already have an account?&nbsp;&nbsp;/&nbsp;&nbsp;<a class="text-aqua" [routerLink]="['/login']">Login</a></p>
    </div>
</form>