<div>
<h1>Profile Infomation</h1>
<p><b>Name :</b>&nbsp;&nbsp;&nbsp;{{userInfo.name}}</p>
<p><b>Role :</b>&nbsp;&nbsp;&nbsp;{{userInfo.role}}</p>
<p><b>Phone :</b>&nbsp;&nbsp;&nbsp;{{userInfo.phone}}</p>
<p><b>Email :</b>&nbsp;&nbsp;&nbsp;{{userInfo.email}}</p>
</div>