<ul>
    <li><a [routerLink]="['/profile']" (click)="active='profile'" [ngClass]="active=='profile'?'active':''">Profile</a></li>
    <li *ngIf="userRole=='user'"><a [routerLink]="['/booking-user']" (click)="active='booking'" [ngClass]="active=='booking'?'active':''">Booking</a></li>
    <li *ngIf="userRole=='driver'"><a [routerLink]="['/booking-driver']" (click)="active='customer'" [ngClass]="active=='customer'?'active':''">Customers</a></li>
    <li style="float:right"><a [routerLink]="['/login']">Logout</a></li>
</ul>

<div class="inner-div">
    <router-outlet></router-outlet>
</div>