<h1 class="header">Ride Infomation</h1>
<form [formGroup]="bookingForm">
    <div class="form-field">
        <input type="text" placeholder="Origin From" formControlName="originFrom" required />
    </div>
    <small *ngFor="let validation of validation_messages.originFrom">
        <span class="text-danger"
            *ngIf="bookingForm.get('originFrom').hasError(validation.type) && bookingForm.get('originFrom').pending">
            {{ validation.message }}
        </span>
    </small>

    <div class="form-field">
        <input type="text" placeholder="Destination To" formControlName="destinationTo" required />
    </div>
    <small *ngFor="let validation of validation_messages.destinationTo">
        <span class="text-danger"
            *ngIf="bookingForm.get('destinationTo').hasError(validation.type) && bookingForm.get('destinationTo').pending">
            {{ validation.message }}
        </span>
    </small>

    <div class="form-field">
        <input type="text" placeholder="Pickup Time" formControlName="pickupTime" required />
    </div>
    <small *ngFor="let validation of validation_messages.pickupTime">
        <span class="text-danger"
            *ngIf="bookingForm.get('pickupTime').hasError(validation.type) && bookingForm.get('pickupTime').pending">
            {{ validation.message }}
        </span>
    </small>


    <div class="form-field">
        <a class="btn" (click)="book()">Book Now</a>
    </div>
</form>

<table class="table-width">
    <tr>
        <th>S.No</th>
        <th>Pickup Time</th>
        <th>Origin From</th>
        <th>Destination To</th>
        <th>Responsed Driver</th>
        <th>Offer Price</th>
        <th>Driver Pickup Time</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let booking of bookingList;let i=index;">
        <td>{{i+1}}</td>
        <td>{{booking.pickupTime}}</td>
        <td>{{booking.originFrom}}</td>
        <td>{{booking.destinationTo}}</td>
        <td>{{booking.driverConfirmation?booking.driverConfirmation.user:'-'}}</td>
        <td>{{booking.driverConfirmation?booking.driverConfirmation.price:'-'}}</td>
        <td>{{booking.driverConfirmation?booking.driverConfirmation.pickupTime:'-'}}</td>
        <td *ngIf="booking.driverConfirmation"><button>Accept</button></td>
        <td *ngIf="!booking.driverConfirmation">--</td>

    </tr>
</table>